/* variables */
:root{
    --dark-blue: rgba(0, 11, 50, 1);
    --light-blue: rgba(10, 34, 255, 0);
    --btn-color: #7963FF;
    --background-blue: #B6CCF5;
    --gray: #A9B0BA;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    background-color: var(--background-blue);
    font-family: 'Inter', sans-serif;
}

main{
    background: linear-gradient(165deg, var(--dark-blue) 18.01%, var(--light-blue) 60.99%);
    height: 934px;
    width: 100%;
    padding: 0.1rem 0.5rem;
}

/* mobile header styles */
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

    /* menu styles */
.menu-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu{
    border: 0.02rem solid #fff;
    border-radius: 0.2rem;
    padding: 0;
    width: 10rem;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3.5rem;
    right: 0;
    z-index: 1000;
    display: none; /* Initially hide the mobile menu */
}

.cls-btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.close-btn{
    color: red;
    background: none;
    border: none;
    padding: 0.5rem 1rem 0 0;
    font-size: 1.5rem;
}

.list-item{
    padding: 1rem 0;
    list-style: none;
}

.list-item a{
    color: #fff;
    text-decoration: none;
}

.list-item a:hover{
    color: var(--gray);
}


/* desktop header styles */
.head-part2{
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.head-part2 a{
    color: #fff;
    text-decoration: none;
}

.head-part3{
    display: none;
}

.head-part3 a{
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.head-part3 a:hover{
    color: var(--gray);
}




















/* responsive codes */
@media screen and (min-width: 700px){
    .logo{
        width: 3rem;
    }

    .name{
        font-size: 22px;
        font-weight: 300;
    }

    .menu{
        display: none;
    }

    .head-part2{
        display: flex;
        gap: 1rem;
    }

    .head-part2 a{
        font-weight: 400;
        font-size: 13px;
    }

    .head-part3{
        display: block;
    }

    .head-part3 a{
        font-size: 13px;
        font-weight: 500;
    }
}



@media screen and (min-width: 900px){
    .logo{
        width: 6rem;
    }

    .name{
        font-size: 32px;
        font-weight: 500;
    }

    .head-part2{
        gap: 2.5rem;
    }

    .head-part2 a{
        font-weight: 400;
        font-size: 16px;
    }

    .head-part3 a{
        font-size: 16px;
        font-weight: 900;
    }
}